language: go

sudo: false

go:
    - 1.9.x
    - 1.10.x
    - tip

branches:
    only:
        - master
        - /^v\d+\.\d+\.\d+(-\S*)?$/

matrix:
    allow_failures:
        - go: tip

before_install: curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh

install: dep ensure

script: go test ./...
